# Exercise 07 : Heatmap

## Imports

In [2]:
import pandas as pd 
import sqlite3
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable

## Create two graphs like in subject:
- analyze only the users and not the admins
- you can choose the color palette that you like for both of the graphs that you will need to draw in this exercise
- use the table checker for your query
- use absolute values of the commits, not the averages
- sort the dataframes by the total number of commits made by a user

## Make a connection to the database

In [3]:
sql_con = sqlite3.connect('../data/checking-logs.sqlite.sqlite')

## Get commits datetimes

In [15]:
query = """
SELECT
    uid,
    timestamp AS datetime
FROM 
    checker
WHERE
    uid LIKE 'user_%'
"""

commits = pd.read_sql(query, sql_con, parse_dates=['datetime'])
commits

         uid                   datetime
0     user_4 2020-04-17 05:19:02.744528
1     user_4 2020-04-17 05:22:35.249331
2     user_4 2020-04-17 05:22:45.549397
3     user_4 2020-04-17 05:34:14.691200
4     user_4 2020-04-17 05:34:24.422370
...      ...                        ...
3202  user_1 2020-05-21 20:19:06.872761
3203  user_1 2020-05-21 20:22:41.785725
3204  user_1 2020-05-21 20:22:41.877806
3205  user_1 2020-05-21 20:37:00.129678
3206  user_1 2020-05-21 20:37:00.290491

[3207 rows x 2 columns]

## Calculating day of week

In [16]:
commits['daytype'] = commits['datetime'].dt.dayofweek
commits

         uid                   datetime  daytype
0     user_4 2020-04-17 05:19:02.744528        4
1     user_4 2020-04-17 05:22:35.249331        4
2     user_4 2020-04-17 05:22:45.549397        4
3     user_4 2020-04-17 05:34:14.691200        4
4     user_4 2020-04-17 05:34:24.422370        4
...      ...                        ...      ...
3202  user_1 2020-05-21 20:19:06.872761        3
3203  user_1 2020-05-21 20:22:41.785725        3
3204  user_1 2020-05-21 20:22:41.877806        3
3205  user_1 2020-05-21 20:37:00.129678        3
3206  user_1 2020-05-21 20:37:00.290491        3

[3207 rows x 3 columns]

In [17]:
commits['hour'] = commits['datetime'].dt.hour
commits

         uid                   datetime  daytype  hour
0     user_4 2020-04-17 05:19:02.744528        4     5
1     user_4 2020-04-17 05:22:35.249331        4     5
2     user_4 2020-04-17 05:22:45.549397        4     5
3     user_4 2020-04-17 05:34:14.691200        4     5
4     user_4 2020-04-17 05:34:24.422370        4     5
...      ...                        ...      ...   ...
3202  user_1 2020-05-21 20:19:06.872761        3    20
3203  user_1 2020-05-21 20:22:41.785725        3    20
3204  user_1 2020-05-21 20:22:41.877806        3    20
3205  user_1 2020-05-21 20:37:00.129678        3    20
3206  user_1 2020-05-21 20:37:00.290491        3    20

[3207 rows x 4 columns]

## Which user has the most commits on Tue?
## Which user has the most commits on Thu?
## On which weekday do the users not like making a lot of commits? 
## Which user at which hour made the largest number of commits?